* {
  font-family: "Baloo Bhai 2", sans-serif;
}

body {
  background-color: #fafafa;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: #00c6cf;
}

.container button {
  border: none;
  background-color: #00c6cf;
  margin: 15px 32px;
  color: #fff;
  font-size: 25px;
  transition: 2s;
  border-radius: 10px;
  width: 250px;
}

.container button:hover {
  color: #fbfb33;
}
